.:53 {
    forward . 1.1.1.1 1.0.0.1
    cache 30
    errors
}

homelab:53 {
    
    hosts {
        10.22.1.10 staging-k8s-control-plane-01.homelab
        10.22.1.11 staging-k8s-worker-01.homelab
        10.22.1.12 staging-k8s-worker-02.homelab
        {{ service_host_ip }} *.homelab
        fallthrough
    }

    forward . 1.1.1.1 8.8.8.8
    cache 30
    errors
}
