tls:
  certificates:
    - certFile: /etc/traefik/certs/wildcard.homelab.crt
      keyFile: /etc/traefik/certs/wildcard.homelab.key

http:
  routers:
{% for service in app_services %}
    {{ service.name}}-router:
      rule: "Host(`{{ service.service}}.homelab`){% if service.path_prefix is defined %} && PathPrefix(`{{ service.path_prefix }}`){% endif %}"
      service: {{ service.name}}-service
      {% if service.strip_prefix is defined %}middlewares:
        - {{ service.name }}-strip
      {% endif %}tls: {}
{% endfor %}

  middlewares:
{% for service in app_services %}
  {%- if service.strip_prefix is defined %}
    {{ service.name }}-strip:
      stripPrefix:
        prefixes:
          - {{ service.strip_prefix}}
  {% endif %}
{% endfor %}

  services:
{% for service in app_services %}
    {{ service.name}}-service:
      loadBalancer:
        servers:
          - url: "{{ service.protocol }}://{{ service.service}}:{{ service.internal_port }}"
{% endfor %}
