[defaults]
host_key_checking = True
inventory = inventories/
roles_path = roles
log_path = ./ansible.log

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
usetty = false
