homelab.local:53 {
    hosts {
        {{ services_host_ip | default('10.22.1.100')}} gitlab.homelab.local
        {{ services_host_ip | default('10.22.1.100')}} registry.homelab.local
        fallthrough
    }
    log
    errors
}

. {
    forward . 1.1.1.1 8.8.8.8
    cache 30
    log
    errors
}
